div.flex-col#root-col
    div.flex-row#top-row
        div#date-view
            div
                input(type="date", value="0485-01-01")#date-view-input

        div#search-view
            input#typeahead-search(type="text" placeholder="How hard can it be?")
            button#new-being-btn New being
            button#new-place-btn New place

    div.flex-row#bottom-row
        div.flex-row#map-view
            div#map-view-content
            div#map-view-slider

        div#data-view
            div Data view


